In [1]:
import keras
import numpy as np
import pandas as pd

Using TensorFlow backend.

In [2]:
path="/content/HousingPrices.txt"
df=pd.read_csv(path)

In [3]:
df.head()

   YearBuilt  2ndFlrSF  GrLivArea  ...  TotRmsAbvGrd  YrSold  SalePrice
0       2003       854       1710  ...             8    2008     208500
1       1976         0       1262  ...             6    2007     181500
2       2001       866       1786  ...             6    2008     223500
3       1915       756       1717  ...             7    2006     140000
4       2000      1053       2198  ...             9    2008     250000

[5 rows x 9 columns]

In [6]:
X=df.iloc[:,:8]
y=df[["SalePrice"]]

In [7]:
model = keras.models.Sequential()

model.add(keras.layers.Dense(8, activation='relu', input_shape=(8,)))
model.add(keras.layers.Dense(8, activation='relu'))
model.add(keras.layers.Dense(1))

model.compile(optimizer='adam', loss='mean_squared_error')

In [9]:
model.fit(X, y, epochs=30, callbacks=[keras.callbacks.EarlyStopping(patience=3)])

Epoch 1/30
1460/1460 [==============================] - 0s 204us/step - loss: 39045984121.3370
Epoch 2/30
1460/1460 [==============================] - 0s 31us/step - loss: 38763172344.9863
Epoch 3/30
1460/1460 [==============================] - 0s 33us/step - loss: 38320585786.9151
Epoch 4/30
1460/1460 [==============================] - 0s 32us/step - loss: 37587896701.5452
Epoch 5/30
1460/1460 [==============================] - 0s 33us/step - loss: 36437952887.9342
Epoch 6/30
  32/1460 [..............................] - ETA: 0s - loss: 30846846976.0000

/usr/local/lib/python3.6/dist-packages/keras/callbacks/callbacks.py:846: RuntimeWarning: Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
  (self.monitor, ','.join(list(logs.keys()))), RuntimeWarning

1460/1460 [==============================] - 0s 34us/step - loss: 34765182712.2849
Epoch 7/30
1460/1460 [==============================] - 0s 35us/step - loss: 32427681292.6247
Epoch 8/30
1460/1460 [==============================] - 0s 33us/step - loss: 29374416015.0794
Epoch 9/30
1460/1460 [==============================] - 0s 34us/step - loss: 25678482131.8137
Epoch 10/30
1460/1460 [==============================] - 0s 32us/step - loss: 21625283603.6384
Epoch 11/30
1460/1460 [==============================] - 0s 35us/step - loss: 17499435145.4685
Epoch 12/30
1460/1460 [==============================] - 0s 34us/step - loss: 13657409305.9507
Epoch 13/30
1460/1460 [==============================] - 0s 36us/step - loss: 10421774307.9452
Epoch 14/30
1460/1460 [==============================] - 0s 33us/step - loss: 7974030811.5288
Epoch 15/30
1460/1460 [==============================] - 0s 33us/step - loss: 6330242569.8192
Epoch 16/30
1460/1460 [==============================] - 0s 32us/step - loss: 5389027939.5945
Epoch 17/30
1460/1460 [==============================] - 0s 34us/step - loss: 4913684634.6521
Epoch 18/30
1460/1460 [==============================] - 0s 32us/step - loss: 4703367030.1808
Epoch 19/30
1460/1460 [==============================] - 0s 32us/step - loss: 4619401216.0000
Epoch 20/30
1460/1460 [==============================] - 0s 34us/step - loss: 4585497622.4438
Epoch 21/30
1460/1460 [==============================] - 0s 35us/step - loss: 4568758300.4055
Epoch 22/30
1460/1460 [==============================] - 0s 32us/step - loss: 4556164584.1534
Epoch 23/30
1460/1460 [==============================] - 0s 32us/step - loss: 4547425688.8986
Epoch 24/30
1460/1460 [==============================] - 0s 33us/step - loss: 4537868364.4493
Epoch 25/30
1460/1460 [==============================] - 0s 36us/step - loss: 4530187601.0082
Epoch 26/30
1460/1460 [==============================] - 0s 34us/step - loss: 4518371573.4795
Epoch 27/30
1460/1460 [==============================] - 0s 33us/step - loss: 4510816124.1425
Epoch 28/30
1460/1460 [==============================] - 0s 31us/step - loss: 4498701548.3616
Epoch 29/30
1460/1460 [==============================] - 0s 33us/step - loss: 4490823463.9781
Epoch 30/30
1460/1460 [==============================] - 0s 31us/step - loss: 4480125963.2219

In [10]:
test_data = np.array([2003,	854,	1710,	2,	1,	3,	8,	2008])
print(model.predict(test_data.reshape(1,8), batch_size=1))

[[204912.23]]